<html>
<head>
    <link rel="stylesheet" href='/static/style.css'>
</head>
<body>
<h1>Configuration page</h1>
<form method="POST">
    server: <input type="text" name="server" required><br>
    port: <input type="text" name="port" required><br>
    username: <input type="text" name="username" required><br>
    password: <input type="text" name="password" required><br>
    fromaddr: <input type="text" name="fromaddr" required><br>
    toaddr: <input type="text" name="toaddr" required><br>
    <button type="submit">Save config</button>
</form>
</body>
</html>